.header-container{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    .logo{
        .logo-img{
            width: 30px;
        }
    }
}

.header-navigation{
    display: flex;
    
    .header-link{
        text-decoration: none;
        color: rgb(0, 132, 255);
        font-weight: 400;
        font-size: 20px;
        padding: 22px  20px;
        transition: .3s ease-in-out;
        &:hover{
            color: rgb(11, 166, 255);
        }
    }
}